
/* ======= START THEME COLORS ======= */

/* ======= START COLOR WHITE ======= */
body .site-content__inner-right,
body .site-content__sidebar,
body .left-menu {
    --c-dark: #ffffff;
    --c-white: #1c1e1f;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    opacity: 0.1;
}

.niko-sc__skills-line{
    background-color: var(--c-semi-dark);
}

.site-content__sidebar .search-wrap .search-field,
.site-content__sidebar select{
    border-color: var(--c-semi-dark);
}

.site-content:not(.unit),
.site-content:not(.unit) a,
.site-content:not(.unit) .mCSB_scrollTools .mCSB_dragger {
    cursor: none;
}

