<!DOCTYPE html>
<html lang="en" class="no-js">
	
<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>Soumyadip Resume</title>
		<meta name="description" content="Penelope - CV / Resume / Personal Website Template by Hencework" />
		<meta name="keywords" content="Penelope, responsive resume template, cv template, multipurpose, responsive template, vcard, html5 template, themeforest, bootstrap, html5, creative, landing page, sass, clean, design, modern, angular js" />
		<meta name="author" content="Hencework"/>
		
		<!--Favicon-->
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		
		<!--Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Hind:400,500,300,600' rel='stylesheet' type='text/css'>
		
		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body id="body" data-ng-app="contactApp">
		
		<!--Fixed Bg Image-->
		<div class="fixed-bg"></div>
		<div class="fixed-bg-overlay"></div>
		<!--/Fixed Bg Image-->
		
		<!--Preloader-->
		<div id="pre_load" class="preloader-it">
			<div id="la_anim" class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<!--Container-->
		<div class="container-fluid">
			<div class="row">
				<div id="vertical_nav_wrap" class="col-lg-4 col-xs-12 pad-zero vertical-nav-wrap">
					
					<!--Navigation-->
					<nav class="navbar navbar-default vertical-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" 
								data-target="#navbar_collapse">
							<span class="mask"></span>
							<span class="btn-label">
							<span class="pe-7s-menu"></span>
							</span>
							</button>
						</div>
						<div class="collapse navbar-collapse" id="navbar_collapse">
							<ul class="nav navbar-nav">
								<li><a data-scroll href="#body"></a><span>About</span></li>
								<li><a data-scroll href="#services_sec"></a><span>Services</span></li>
								<li><a data-scroll href="#skill_sec"></a><span>Skills</span></li>
								<li><a data-scroll href="#work_sec"></a><span>Activities</span></li>
									<li><a data-scroll href="#edu_sec"></a><span>Projects</span></li>
								<li><a data-scroll href="#exp_sec"></a><span>Experience</span></li>
						<!--		<li><a data-scroll href="#client_sec"></a><span>clients</span></li>-->
								<li><a data-scroll href="#achivement_sec"></a><span>Achivements</span></li>
								<li><a data-scroll href="#contact_sec"></a><span>Contact</span></li>
							</ul>
						</div>
					</nav>
					<!--/Navigation-->
					
				</div>
				<div class="col-lg-8 col-xs-12 pad-zero">
					
					<!--Header-->
					<header>
						<div class="header-wrap col-lg-10 center-div">
							<div class="float-left name">
								<a data-scroll href="#body">
								<span>
								Soumyadip Chowdhury
								</span>
								</a>	
							</div>
							<div class="float-right social-download-wrap">
								<a href="#" class="btn btn-default float-left">
								<span class="mask"></span>
								<span class="btn-label">
								<b>Download resume</b>
								<span class="icon pe-7s-download"></span>
								</span>
								</a>
							</div>
						</div>
						<div class="clearfix"></div>
					</header>
					<!--/Header-->
					
					<!--Main Content-->
					<div id="main_content" class="content-block margin-top-150 margin-top-sm-70 margin-top-xs-50">
					
						<!--Introduction Sec-->
						<section id="intro_content_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div intro-content-wrap sec-pad">
							<div class="person-img margin-bottom-xs"></div>
							<h1>
								Hey!<span id="typed"> </span>
							</h1>
							<h6>
								about
							</h6>
							<p class="pad-bottom-35 wow fadeInUp" data-wow-duration=".6s">
								Coding Enthusiastic | Java Lover | Full-stack Web-Developer | Trainer | Tech Content Writer | Open-Source Contributor | Founder of EclipseCloud Open Source Org.		</p>
							<p class="wow fadeInUp" data-wow-duration=".4s">
							Find my work on <a class="goto-social" href="https://github.com/soumyadip007" target="_blank">Github</a> & <a href="https://www.linkedin.com/in/soumyadip-chowdhury-9abb3b146/" class="goto-social" target="_blank">Linkedin</a>
							</p>
						<!--	<div class="per-signature margin-top-sm wow fadeInUp" data-wow-duration=".4s">
								<img class="img-responsive" src="img/signature.png" alt="signature"/>
							</div>-->
						</section>
						<!--/Introduction Sec-->
						
						<hr class="separater-hr"/>
						
						<!--WhatWeDo Sec-->
						<section id="services_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div services-icon-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>what i do</h6>
							<div class="row">
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay="0s">
									<span class="icon pe-7s-browser"></span>
									<span class="key-fact">
									Web Development		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".1s">
									<span class="icon pe-7s-cloud"></span>
									<span class="key-fact">
									Cloud & DevOps		 
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".2s">
									<span class=" icon pe-7s-graph3"></span>
									<span class="key-fact">
									Project		
									</span>
								</div>
								<div class="col-sm-3 col-xs-6 margin-bottom-sm icon-wrap wow fadeInLeft" data-wow-duration=".4s" data-wow-delay=".3s">
									<span class="icon pe-7s-note2"></span>
									<span class="key-fact">
									Programming
									</span>
								</div>
							</div>
						</section>
						<!--/WhatWeDo Sec-->
						
					
						
						<hr class="separater-hr"/>
						
						<!--Skills Sec-->
						<section id="skill_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div skills-wrap  sec-pad-top sec-pad-bottom-xs">
							<h6>technical skills</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
								• Platform : Linux, Windows.
							</br>
								• Programming language: C, JAVA, Javascript, Typescript
							</br>
								• Software Development : Java Swing, AWT, Java-Fx.
							</br>
								• Web Development (Full-stack):
								
								- Serverside/Backend : Java EE Technologies, JSP, Servelt, JSTL ,Tomcat, Glassfish & JBoss Application server, Spring Framework (Core, MVC, BOOT, AOP, Security, Rest, Data), JPA, Hibernate-ORM, Soap, Restful Web-services, Mysql & Oracle databases, API Integration, API Testing (Postman, Swagger).
								
								- Userside/Frontend : Html, CSS, Bootstrap, Thymeleaf, Angular-8, Data Binding, Redux.
							</br>
								• Cloud : AWS, AWS EC2, AWS ECS, AWS IAM, AWS ELB, AWS ALB, AWS Lambda, Route 53, AWS ECR, S3 Bucket, Dynamo-DB, CI/CD Pipeline.
							</br>
								• DevOps Tools : Maven, Git Version-control, Jenkins.
							</br>
								• Project Management: Agile, Jira, Asana
							</br>
								• Others : Micro-Services(Rest/Soap) integration in Android, OTT Content Encoding (Bitmovin, Akamai), DRM (Bitmovin, Axinom) Encryption & Integration, Junit test. 
								
								
								
							</p>
							<div class="row margin-top-40">
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">JAVA</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="97">
												<strong><i>97</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">J2EE & Spring Boot</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="95">
												<strong><i>95</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">AWS</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="90">
												<strong><i>90</i>%</strong>
												</span>	
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Database</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="80">
												<strong><i>89</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-sm-5 margin-bottom-sm">
									<span class="progress-cat">Angular 8</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<span data-width="65">
												<strong><i>65</i>%</strong>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-offset-1 col-sm-5 margin-bottom-sm">
									<span class="progress-cat">DevOps</span>
									<div class="progress-bar-graph">
										<div class="progress-bar-wrap">
											<div class="bar-wrap">
												<div class="bar-wrap">
													<span data-width="75">
													<strong><i>75</i>%</strong>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</section>
						<!--/Skills Sec-->
						
						<hr class="separater-hr"/>
						
						<section id="work_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div work-wrap  sec-pad">
							<h6>Activities (Click on Photos to know more)</h6>
							<div  class="portfolio-wrap project-gallery padding-sec-lg">
								<ul id="portfolio" class="portf auto-construct  project-gallery" data-col="2">
									<li  class="item"   data-src="img/workshop1.jpeg" data-sub-html="<h6>MLH Local Hackday Facilitator</h6><p>Soumyadip is taking session on Cloud,👨🏻‍🏫How to Collaborate with GitHub 💻& how to quickly develop👨🏻‍💻, build, and deploy your first website🛰️ with Amazon☁️ Web Services.</p>" >
										<a href="https://google.com">
										<img class="img-responsive" src="img/workshop1.jpeg"  alt="Image description" />
										<span class="hover-cap">MLH Local Hackday Facilitator</span>
										</a>
									</li>

									<li  class="item"   data-src="img/mlh2.jpeg" data-sub-html="<h6></h6><p>Group Photo, MLH Local Hack Day 2019</p>" >
										<a href="https://google.com">
										<img class="img-responsive" src="img/mlh2.jpeg"  alt="Image description" />
										<span class="hover-cap">MLH Local Hackday Participants</span>
										</a>
									</li>
									<li  class="item"   data-src="img/rec.jpeg" data-sub-html="<h6>Recomendation</h6><p>Recomendation from Dr. Dan Amzallag, Therapist/Counselor, 
										Business/Life coach expert, CEO of ProAce International and Award-Winning Producer for The Happyness Journey TV Show</p>" >
										<a href="https://google.com">
										<img class="img-responsive" src="img/rec.jpeg"  alt="Image description" />
										<span class="hover-cap">Recomendation</span>
										</a>
									</li>
									<li  class="item"   data-src="img/training1.jpeg" data-sub-html="<h6>Web Development Trainer</h6><p>Web Development Trainer in TeamCognito LLP(Jun-Aug.2019).</p>" >
										<a href="https://google.com">
										<img class="img-responsive" src="img/training1.jpeg"  alt="Image description" />
										<span class="hover-cap">Web Development Trainer</span>
										</a>
									</li>
								
									
								<!--	<li class="item" data-src="img/mock4.jpg" data-sub-html="<h6>UX PLATFORM</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="#">
										<img class="img-responsive" src="img/mock4.jpg"  alt="Image description" />
										<span class="hover-cap">UX PLATFORM</span>
										</a>
									</li>
									<li class="item" data-src="http://vimeo.com/1084537" data-poster="img/mock3.jpg" data-sub-html="<h6>MONOBRANDING</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="#">
										<img class="img-responsive" src="img/mock3.jpg"  alt="Image description" />
										<span class="hover-cap">MONOBRANDING</span>
										</a>
									</li>
									<li class="item" data-src="img/mock5.jpg" data-sub-html="<h6>FALL/WINTER</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="#">
										<img class="img-responsive" src="img/mock5.jpg"  alt="Image description" />	
										<span class="hover-cap">FALL/WINTER</span>
										</a>
									</li>
									<li class="item" data-html="#video1" data-poster="img/mock6.jpg" data-sub-html="<h6>FANTASTIC MAN</h6><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
										<a href="#">
										<img class="img-responsive" src="img/mock6.jpg"  alt="Image description" />
										<span class="hover-cap">FANTASTIC MAN</span>
										</a>
									</li>-->
								</ul>
								<div style="display:none;" id="video1">
									<video class="lg-video-object lg-html5 video-js vjs-default-skin" controls preload="none">
										<source src="videos/video1.mp4" type="video/webm">
										<source src="videos/video1.html" type="video/webm">
										Your browser does not support HTML5 video.
									</video>
								</div>
							</div>
						</section>

						
						<hr class="separater-hr"/>
						
						<section id="edu_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div education-wrap  sec-pad">
							<h6>Web Projects</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s">
							All the Web Projects are made using Java EE Technologies, JSP, Servelt, JSTL ,Tomcat, Glassfish & JBoss Application server,
							 Spring Framework (Core, MVC, BOOT, AOP, Security, Rest, Data), JPA, 
							Hibernate-ORM, Soap, Restful Web-services, Mysql & Oracle databases, API Integration, API Testing (Postman, Swagger),HTML,CSS and Deployed 
						into live AWS and other Local servers with git VCS . (To know more Click on the project )	</p>
						
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">	Sep-Present</span>
									</div>
									<div class="col-sm-5">
										<a  target="_blank"  href="http://dinkaal.in">
									
										<span class="insti vertical-align-pad">Dinkaal E-Paper</span>
									</a >	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										InvigorateCloud Pvt. Ltd/Live
										</span>
									</div>
								</div>

							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">	Sep-Oct 2019</span>
									</div>
									<div class="col-sm-5">
									
									<a  target="_blank"  href="https://play.google.com/store/apps/details?id=com.pujodirection.rest">
										<span class="insti vertical-align-pad">Alumni Management System (User End+ Admin Panel )</span>
									</a >	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Self Project
										</span>
									</div>
								</div>


				



							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">	July-Sep 2019</span>
									</div>
									<div class="col-sm-5">
									
									<a  target="_blank"  href="https://play.google.com/store/apps/details?id=com.pujodirection.rest">
										<span class="insti vertical-align-pad">	Pujo Direction Web Application & Android(Available in Play Store)</span>
									</a >	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
										Self Project/Live
										</span>
									</div>
								</div>


							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">May-June 2019</span>
									</div>
									<div class="col-sm-5">
									
									<a  target="_blank"  href="https://github.com/soumyadip007/E-Medical-System-Web-Project-Using-Spring-Boot-Security-MVC-Hibernate-JPA-Rest-Thymeleaf-HQL">
										<span class="insti vertical-align-pad">E-Medical System (User End+ Doctor Dashboard+ Admin Panel)</span>
									</a >	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Self Project
										</span>
									</div>
								</div>


							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">Feb-Apr 2019</span>
									</div>
									<div class="col-sm-5">
									
									<a  target="_blank"  href="https://github.com/soumyadip007/Post-Disaster-Management-and-Women-safety-Hackathon-JSP-Servlet-MySql-Bootstrap-GoogleMapApi-OSM">
										<span class="insti vertical-align-pad">Disaster Management System & Women Security (also in Android app/ Web-view)
											(also Deployed During Disaster ‘Fani’, 04/05/2019)</span>
									</a >	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Self Project
										</span>
									</div>
								</div>
								

							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">Jan-Feb 2019</span>
									</div>
									<div class="col-sm-5">
									
									<a  target="_blank"  href="https://codingliquids.com/">
										<span class="insti vertical-align-pad">Start-up Company Website[User Panel, Admin Panel, Payment Gateway]</span>
									</a >	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											Coding Liquids/Live
										</span>
									</div>
								</div>
							
							
							
								
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">Jan-Mar 2019</span>
									</div>
									<div class="col-sm-5">
									
									<a  target="_blank"  href="https://lightningspeedmatchmaker.com/">
										<span class="insti vertical-align-pad">Online Dating Website (Paid Matchmaking) [User Panel, Admin Panel (Dash-Board),
											Email Integration, Payment getway (Stripe(USA))]</span>
									</a >	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											ProAce International Pvt.Ltd(USA)/<b>Live</b>
										</span>
									</div>
								</div>
							
							
							
							
							<div class="qualfication-wrap">
								<div class="qualfication first-row wow fadeInUp" data-wow-duration=".4s">
									<div class="col-sm-2">
										<span class="row-count"><span>•</span></span>
									</div>
									<div class="col-sm-2">
										<span class="yr-pers vertical-align-pad">Dec-Jan (2018-19)</span>
									</div>
									<div class="col-sm-5">
									
									<a  target="_blank"  href="https://soumyadip007.github.io/E-Marketplace-for-buying-and-reselling-products-Web-Project-Using-JSP-Servlet-Jstl-Security-Jdbc/">
										<span class="insti vertical-align-pad">Online classified Website For selling and buying</span>
									</a>	</div>
									<div class="col-sm-3">
										<span class="design vertical-align-pad">
											WebTek Labs (Training)
										</span>
									</div>
								</div>

						
							</div>
						</section>
						</Qualfication Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Experience Sec-->
						<section id="exp_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div experience-wrap  sec-pad">
							<h6>experience</h6>
							<div class="exp-timeline-wrap">
								<div class="row exp-timeline timeline-active">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0s">
												<div class="col-sm-3 duration"><span>Aug 2019 - present </span></div>
												<div class="col-sm-9">
													<span class="job-desn">Full-stack Web & Cloud Developer (Employee)</span>
													<span class="job-loc">InvigorateCloud Pvt. Ltd.
													</span>
													<p class="job-summary p-small">
														
														Technology Stack (Developer): Spring(Mvc, Boot etc) Hibernate, Restful Web-services, J2EE, Angular8, Service, Security, Encryption & Encoding, Oracle, OTT content, DRM integration etc.
														<br>
														Cloud & DevOps Trainee (AWS EC2, AWS Lambda, AWS EBS, AWS S3, AWS Routing, DevOps Tools,
														 Project Management, CI/CD pipeline, Agile, Jira, Docker, Ansible, Puppet, Teraform, Kubernetes, Jenkins )</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>June 2019 — Aug 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Web Development Trainer (Freelance)</span>
													<span class="job-loc">Team Cognit LLP.
													</span>
													<p class="job-summary p-small">Soumyadip was Web-Development Trainer in Team Cognito LLP., He has covered all the basic module of Web-Development during his trining.
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.4s">
												<div class="col-sm-3 duration"><span>May 2019 – June 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Technical Content Writter (Freelance)
													</span>
													<span class="job-loc">Javaguides.net
													</span>
													<p class="job-summary p-small">

														Soumyadip has published multiple technical content on JAVA,Spring Boot, Angular and many more(Topics are written bellow) for Javaguides.net,
														All the contents are available on mentioned website. <br> 
													Topics : Core JAVA, Swing, Awt, JavaFX, Angular-8, Spring Boot
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.6s">
												<div class="col-sm-3 duration"><span>Jan 2019 – Apr 2019</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Web Developer Intern
													</span>
													<span class="job-loc">ProAce International (Gaithersburg, USA)
													</span>
													<p class="job-summary p-small">Developed Enterprise website(Backend-frontend).
														<br>
														Technology:
														<br>
														Serverside - Java(Jsp,Servlet, JSTL,JDBC),MySql,Xml,Json,Payment Getway API integration (Stripe),Mail Api integration (Gmail)
														<br>
														Client side: HTML,CSS,Bootstrap.</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="row exp-timeline">
									<div class="col-xs-2">
										<div class="timeline-st"></div>
									</div>
									<div class="col-xs-10 exp-content-wrap">
										<div class="row">
											<div class="wow fadeInRight" data-wow-duration=".4s" data-wow-delay="0.2s">
												<div class="col-sm-3 duration"><span>Aug 2018 — Nov 2018</span></div>
												<div class="col-sm-9">
													<span class="job-desn">Software Developmer Intern</span>
													<span class="job-loc">Team Cognit LLP.
													</span>
													<p class="job-summary p-small">Soumyadip was a Software Development Intern in Team Cognito, He has worked on a ERP Software Project & 
														Chatbot during his internship.
														Technical Stack: JAVA, Java-Fx, Swing, MySQL
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<!--/Experience Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Client Se
						<section id="client_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div client-wrap  sec-pad wow bounceIn" data-wow-duration=".4s">
							<h6>clients</h6>
							<div class="client-carousel">
								<img src="img/ic.png" alt="client">
								<img src="img/tc.png" alt="client">
								<img src="img/cl.jpg" alt="client">
								<img src="img/pro.png" alt="client">
							</div>
						</section>
						/Client Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Achivement Sec-->
						<section id="achivement_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div achivement-wrap  sec-pad-top sec-pad-bottom-sm">
							<h6>achivements</h6>
							<p class="wow fadeInUp" data-wow-duration=".4s"></p>
							<div class="achivement-list-wrap margin-top-40">
								<ul class="row">
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s">
												<span class="dash-pointer">-</span>
												<span class="achive-pts">3rd in Co-Decode TechnoRion (Coding Competition, IIT Bombay, 2019 </span>
											</li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">1st prize in Hackathon (BPPIMT,2019)</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay=".2s"><span class="dash-pointer">-</span><span class="achive-pts">4th most Active Github User in INDIA (by Commmit.top)</span></li>
										
										</ul>
									</li>
									<li class="col-sm-6">
										<ul>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0s"><span class="dash-pointer">-</span><span class="achive-pts">1st Prize in Hackathon (UEMK,2019)</span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">3rd prize in Project competition (Hardware/Software, UEMK, 2019) </span></li>
											<li class="margin-bottom-xs wow fadeInUp" data-wow-duration=".4s" data-wow-delay="0.2s"><span class="dash-pointer">-</span><span class="achive-pts">Digital Ocean Hacktober Fest Qualified </span></li>
										</ul>
									</li>
								</ul>
							</div>
						</section>
						<!--/Achivement Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Contact Sec-->
						<section id="contact_sec"  class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap sec-pad">
							<h6>contact</h6>
							<div data-ng-controller="ContactController" class="align-center wow fadeInUp" data-wow-duration=".4s">
								<h3>Hello <span  data-ng-bind="formData.inputName||'friend'"></span>, I'd love to hear from you.</h3>
								<div>
									<form data-ng-submit="submit(contactform, $event)"  name="contactform"  method="post" class="row form-horizontal" role="form">
										<div class="form-group input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-6" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input autocomplete="off" data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi col-sm-12" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group col-sm-12">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
												<span class="mask"></span>
												<span>send message</span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
							</div>
							
							<div class="email-direct">
								<p class="wow fadeInRight" data-wow-duration=".4s">Or simply email me at <a href="mailto:soumyadip.note@gmail.com">soumyadip.note@gmail.com</a></p>
							</div>
						</section>
						<!--Contact Sec-->
						
						<hr class="separater-hr"/>
						
						<!--Footer-->
						<footer class="col-lg-10 col-md-11 col-sm-11 center-div contact-wrap  sec-pad">
							<div class="row">
								<div class="col-sm-6 available-wrap">
									<span class="available-pointer"></span>
									<span class="available-tag">Available for Freelance Projects.</span></br></br>
									<span class="available-pointer"></span>
									<span class="available-tag">Available for Corporate Traing.</span>
									
								</div>
								<div class="col-sm-6">
									<div class="social-icons-wrap float-right">
										
										<!--Social Icons-->
										<ul class="social-icons float-right">
											<li>
												<a href="https://www.facebook.com/soumyadip.chowdhury.52" class="social-icon">
												<span class="fa" data-hover="&#xf09a;">&#xf09a;</span>
												</a>
											</li>
											<li>
												<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf099;">&#xf099;</span>
												</a>
											</li>
											<li>
												<a href="#" class="social-icon">
												<span class="fa" data-hover="&#xf16e;">&#xf16e;</span>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/s_oumyadip/" class="social-icon">
												<span class="fa" data-hover="&#xf16d;">&#xf16d;</span>
												</a>
											</li>
										</ul>
										<!--/Social Icons-->
									
									</div>
									<div class="goto-top text-right float-right">
										<a data-scroll href="#body">
										<span data-hover="top">
										top
										</span>
										</a>
									</div>
									<div class="copywrite-wrap text-right float-right">
										<p class="copywrite">Designed, Developed & Crafted by <b>Soumyadip &copy; 2019.</b> Updated </p>
									</div>
								</div>
							</div>
						</footer>
						<!--/Footer-->
						
					</div>
					<!--/Main Content-->
					
				</div>
			</div>
		</div>
		<!-- /Container -->
		
		<!-- Scripts -->
		<script src="js/jquery-1.12.4.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/smooth-scroll.js"></script>
		<script src="js/countTo.js"></script>
		<script src="js/jQuery.appear.js"></script>
		<script src="js/isotope.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/lightgallery-all.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/froogaloop2.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>